<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facts-Python</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
        body{
            background-image: linear-gradient(to bottom,rgba(0,0,0,.8),rgba(0,0,0,.5)), url('https://tinyurl.com/ydwx7pwv');
            background-repeat:no-repeat ;
            background-attachment:fixed ;
            background-size:cover ;


        }

        .h1{
            background-color: rgb(14, 13, 13);
            font-family: 'Roboto Slab', serif;
            text-align: center;
            color: lavenderblush;
            width: 240px;
            margin: 30px auto;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 6px solid greenyellow;
            border-radius: 50px;

        }
        #cla{
            color: white;
            width: auto;
            text-align: center;
            margin-left: 40px;
            margin-right: 40px;
            /* padding-left: 10px;
            padding-right: 10px; */
            padding: left 20px; 
            border-radius: 30px;
            border-width: 2px;
            font-family: 'Rubik', sans-serif;

        }
        .ak{
            background-color: rgb(14, 13, 13);
            font-family: 'Roboto Slab', serif;
            text-align: center;
            color: rgb(68, 211, 43);
            /* width: 200px; */
            padding-bottom: 1px;
            border: 4px solid whitesmoke;
            border-width: 3px;
            border-radius: 10px;}
    </style>
</head>
<body>
    <h3 class = "h1">Scientific Facts</h3>
    <form action="/send" method="POST">
        <p id = "cla">{{sum}}</p>  
        <h6 style="text-align: center;"><input type="submit" value="Generate " class="ak" ></h6> 
    </form>
    
</body>
</html>